{% extends 'base.html.twig' %}

{% block title %}Accueil-Blog!{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur Healthy Education ✅</h1>
        <p class="lead">Healthy Education est une application qui va te permettre de créer des recette à base
            d'ingrédients que tu auras toi même créée. Tu pourras partager tes recettes à la communauté du
            site, ou bien les garder en privée.
        </p>
        <hr class="my-4">
        <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
    </div>
</div>



<div class="example-wrapper">
    <h1>Accueil {{ controller_homePage }}! ✅</h1>
</div>
{% endblock %}
